#contactUs{
	padding: 100px;
	margin: 50px 0 50px 0;
	@include flexCenter();
}

.contactUs-title{
	margin: 30px 0;
	h1{
		font-weight: 900;
		font-size: 3em;
		margin: 0;
	}
	a{
		text-decoration: none;
		color: $white;
		&:hover{
			color: $pink;
		}
	}
}

.name-section{
	margin: 10px 0;
}

.email-section{
	input{
		width: 100%;
		margin: 10px 0;
	}
}

.message-section{
	input{
		width: 100%;
		margin: 10px 0;
		height: 100px;
		align-items: flex-start;
		&::placeholder{
			position: relative;
			bottom: 20px;
			
		}
	}

}

button{
	border: 2px solid $white;
	width: 180px;
	@include flexCenter();
	padding: 10px 15px;
	letter-spacing: 1px;
	font-size: 1em;
	background: transparent;
	color: $white;
	&:hover{
		color: $pink;
		border: 2px solid $pink;
	}
}

input{
	background-color: transparent;
	border: 2px solid white;
	padding: 10px 20px;
	color: #fff;
	&::placeholder{
		color: $white;
	}
}

@media screen and (max-width : 600px){

	#contactUs{
		padding: 0;
		flex-direction: column;
	}
	.contactUs-title{
		justify-content: center;
		
		width: 90%;
		h1{
		font-size: 2em;
		justify-content: start;
		width: 100%;
		margin: 0;
		}
		a{
			display: none;
		}
	}
	form{
		padding: 10px 20px;
	}
	input{
		width: 100%;
		margin: 10px 0 0 0;
	}
	.email-section{
		input{
			margin:0;
		}
	}
}