
#getStarted{
	display: flex;
	padding: 50px;
	// justify-content: space-between;
	justify-content: center;
	margin: 50px 0 0 0;
	flex-direction: column;
	// background-color: lightblue;
}

.getStarted-content{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.getStarted-img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	// background-color: lightcoral;
	img{
		height: 500px;
	}
}

.section-heading{
	display: flex;
	justify-content: center;
	font-weight: 900;
	font-size: 3em;
	margin: 0 50px;
}

.step{
	width: 60%;
	margin: 30px 100px;
}

.step-description{
	font-weight: 400;
	font-size: 1.0em;
	text-align: justify;
}
.step-heading{
	font-weight: 500;
	font-size: 1.5em;
}


@media screen and (max-width : 600px){
	.getStarted-img{
		img{
			display: none;
		}
	}
	.section-heading{
		font-size: 2em;
		justify-content: start;
		width: 100%;
		margin: 0;
	}
	.step{
		margin: 50px 0;
	}
	.step-heading{
		font-size: 1.0em;
	}
	.step-description{
		font-size: 1em;
		line-height: 1.5em;
	}
}