header{
	padding: 10px 50px;
	position: relative;
}


@media screen and (min-width : 1000px){
	.navbar-nav{
		position: absolute;
		right: 50px;
	}
}
.nav-link{
	font-weight: 700;
	color: #fff !important;
	&:hover{
		color: $pink !important;
	}
	margin: 10px;

}

@media screen and (max-width : 600px){
	.navbar-brand{
		img{
			width: 100px;
		}
	}
	header{
		padding: 0;
	}
}