@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import "./variables";
@import "./header";


body{
	font-family: 'Montserrat', sans-serif;
	background: linear-gradient(243.39deg, #201C34 0.53%, #3C355F 99.43%);
	color: $white;
}

#home{
	
	display: flex;
	padding: 50px;
	justify-content: space-between;
}

.pink-color{
	color: $pink;
}

@media screen and (max-width : 600px) {
	.home-text{
		
	}
	.home-img{
		
	}
}
